<style>
    .home_wrap {
        max-width: 700px;
        margin: 0 auto;
        line-height: 1.4em;
    }
    .home_wrap li {
        line-height:1.8em;
    }
</style>
<div class="home_wrap">
    <h1>OpenID Authority Demo</h1>
    <p>
        OpenID Authority is an open source OpenID Connect identity provider designed to make managing the identities of your customers and employees simple.
    </p>
    <p>
        <h2>Key Features</h2>
        <ul>
            <li>Single sign on (SSO) for all of your systems</li>
            <li>Simple registration and sign in (users don't even need a password!)</li>
            <li>Advanced threat protection</li>
            <li>Simple GDPR compliance (coming soon)</li>
            <li>Simple security upgrades (coming soon)</li>
            <li>Easy to configure</li>
            <li>Open source and extendable</li>
            <li>Free for commercial use&mdash;no monthly fees!</li>
        </ul>
    </p>
    <p>
        Try it for yourself. <a href="/register">Register</a> and <a href="/signin">sign in</a> to this demo to see how simple it is.
    </p>
    <p>
        For information on implementation and integration, visit the project site: <a href="https://github.com/SimpleIAM/OpenIdAuthority">https://github.com/SimpleIAM/OpenIdAuthority</a>
    </p>
    <p>
        <em>Handcrafted by <a href="https://openidauthority.com/portfolio/">Ryan Foster</a>.</em>
    </p>
</div>
